In [1]:
import pandas as pd

In [9]:
dtFrame = pd.DataFrame(
  [['Jorge','Gerente',11000000],['Teo','Developer',8500000],['Juan','IdeasEng', 5400000]],
  columns = ['Pri_Nombre', 'M_cargo', 'Salario']
)

In [10]:
print(dtFrame)

  Pri_Nombre    M_cargo   Salario
0      Jorge    Gerente  11000000
1        Teo  Developer   8500000
2       Juan   IdeasEng   5400000